*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin:0;
  background-color:floralwhite;
}
:root{
  --cell-size:100px;
  --mark-size:calc(var(--cell-size)*0.9);
}
h1{
  text-align:center;
  color:blue;
}
.selector{
  text-align:center;
  padding:15px;
}
#xb,
#cb{
  margin:15px;
  padding:5px;
  font-size:15px;
  color:white;
  background-color:black;
}

#selctclass{
  font-size:20px;
}
.board{
  width:100vw;
  height:100vh;
  display:grid;
  align-items:center;
  justify-items:center;
  align-content:center;
  justify-content:center;
  grid-template-columns:repeat(3,auto);

}

.cell{
  position:relative;
  width:var(--cell-size);
  height:var(--cell-size);
  border:1px solid black;
  display:flex;
  align-items:center;
  justify-content:center ;
  cursor:pointer;
}

.cell.x,
.cell.circle{
  cursor:not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top:none;
}

.cell:nth-child(3n+1)
{
  border-left: none;
}

.cell:nth-child(3n+3)
{
  border-right:none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
  border-bottom:none;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
  content:"";
  position:absolute;
  width:calc(var(--mark-size)*0.15);
  height:var(--mark-size);
  background-color:lightgray;

}


.cell.x::after,
.cell.x::before{
  content:"";
  position:absolute;
  width:calc(var(--mark-size)*0.15);
  height:var(--mark-size);
  background-color:black;
  
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
  transform:rotate(-45deg);
}

.cell.x:before,
.board.x .cell:not(.x):not(.circle):hover::before{
  transform:rotate(45deg);
}

.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
  content:"";
  position:absolute;
  border-radius:50px;

}

.board.circle .cell:not(.x):not(.circle):hover::before{
  width:var(--mark-size);
  height:var(--mark-size);
  background-color:lightgray;
}

.board.circle .cell:not(.x):not(.circle):hover::after{
  width:calc(var(--mark-size)*0.7);
  height:calc(var(--mark-size)*0.7);
  background-color:white;
}





.cell.circle::after,
.cell.circle::before{
  content:"";
  position:absolute;
  border-radius:50px;
}

.cell.circle::before{
  width:var(--mark-size);
  height:var(--mark-size);
  background-color:black;
}

.cell.circle::after{
  width:calc(var(--mark-size)*0.7);
  height:calc(var(--mark-size)*0.7);
  background-color:white;
}

.winning-message{
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.9);
  align-items:center;
  justify-content:center;
  color:white;
  font-size:5rem;
  flex-direction: column;
}

.winning-message button{
  font-size:30px;
  background-color:white;
  border:1px solid black;
  padding :10px 10px;
  cursor:pointer;
}

.winning-message button:hover{
  background-color:black;
  border-color:white;
  color:white;
}
.winning-message.show{
  display:flex;
}
